h1,h2{
    text-decoration: underline;
    font-style: italic;
    text-align: center;
    }
#body{
    background-color: #23ACA6;
    border: yellowgreen dotted;
    text-align: center;
    }
.div{
    border: red solid ;
    }
*{
    letter-spacing: 1px;
    }
a:link{
    color: blue;
    }
a:visited{
    color: yellow;
    }
a:hover{
    color: green;
    }
a:active{
    color: blue;
    }
ul li{
        font-size: small;
}